h1
{
    color:rgb(245, 142, 7);
    margin-left: 20px;
}
p{
    color:rgb(248, 6, 6);
    text-align:center;
    
}
body{
    background-color: #836e19;
    background-image: url("cat.gif");
    opacity: 1.0;
}
div{
    background: rgba(22, 24, 22, 0.3) ;
    
  }
