h1
{
    color:antiquewhite;
    margin-left: 20px;
}
p{
    color:black;
    text-align:center;
}
body {
    background-color: #a58c28;
    background-color: rgb(240, 145, 21);
  }


#heading{
    color:rgb(79, 224, 21)
}

.xyz{
    color:rgb(37, 89, 202);
}

p.bcd{
    color:rgb(65, 194, 104);
}

p.jkl{
    color:rgb(218, 233, 8);
}



